<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Mydata</servlet-name>
        <servlet-class>kagoyume.Mydata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>kagoyume.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyConfirm</servlet-name>
        <servlet-class>kagoyume.BuyConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyComplete</servlet-name>
        <servlet-class>kagoyume.BuyComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>kagoyume.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyDelete</servlet-name>
        <servlet-class>kagoyume.MyDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Item</servlet-name>
        <servlet-class>kagoyume.Item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyDeleteResult</servlet-name>
        <servlet-class>kagoyume.MyDeleteResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyHistory</servlet-name>
        <servlet-class>kagoyume.MyHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyUpdate</servlet-name>
        <servlet-class>kagoyume.MyUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyUpdateResult</servlet-name>
        <servlet-class>kagoyume.MyUpdateResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>kagoyume.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>kagoyume.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationConfirm</servlet-name>
        <servlet-class>kagoyume.RegistrationConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationComplete</servlet-name>
        <servlet-class>kagoyume.RegistrationComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>kagoyume.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Mydata</servlet-name>
        <url-pattern>/Mydata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyConfirm</servlet-name>
        <url-pattern>/BuyConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyComplete</servlet-name>
        <url-pattern>/BuyComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyDelete</servlet-name>
        <url-pattern>/MyDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Item</servlet-name>
        <url-pattern>/Item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyDeleteResult</servlet-name>
        <url-pattern>/MyDeleteResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyHistory</servlet-name>
        <url-pattern>/MyHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyUpdate</servlet-name>
        <url-pattern>/MyUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyUpdateResult</servlet-name>
        <url-pattern>/MyUpdateResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationConfirm</servlet-name>
        <url-pattern>/RegistrationConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationComplete</servlet-name>
        <url-pattern>/RegistrationComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
